#app {
	padding-left: 100px;
}
button {
	padding: 10px;
	text-decoration: none;
	color: red;
	border-style: dotted;
	border-width: 2px;
	border-color: blue;
	margin: 5px;
	background-color: yellow;
	font-size: 20px;
	border-radius: 10%;
}
.stopwatch {
	margin-top: 10px;
	font-weight: bold;
	font-size: 45px;
	padding-left: 50px;
}